@charset "utf-8";
.wrap_all {
	width:100%;
	height:100%;
	min-height:550px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
	background:#066;
}

.header_wrap{
	width:100%;
	height:30px;
	font-size:16px;
	font-weight:bold;
	position:relative;
	padding-left:30px;
}

.content_wrap{
	height:450px;
	width:80%;
	position:relative;
	margin:0 auto;
	background:url(../images/img_monkey.jpg) no-repeat;
	background-size:cover;
	color:#333;
}

.sidebar_left{
	height:450px;
	width:150px;
	background:rgba(0,0,0,.5);
	position:relative;
	float:left;
}
	
	
